[Unit]
Description=Manage mousemover application

[Service]
WorkingDirectory=/opt/mousemover
ExecStart=/usr/bin/java -Xms128m -Xmx256m -jar mousemover.jar
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
